body{
      margin:0;
      min-height:100vh;
      display:flex;
      align-items:flex-start;
      justify-content:center;
      padding:40px 16px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo a {
    height: 50px;
    margin-left: 50px; /* Adjust as needed */
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #1805c5;
    border-radius: 5px;
}

/* ...existing code... */
.get-started-btn {
    background-color: #1805c5;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 50px;
}

.get-started-btn:hover {
    background-color: #140498;
}
/* ...existing code... */